<div *ngIf="!esResponsivo; else responsivo" class="ui container">
  <div id="divblack" class="following bar" #divElement>
    <div class="ui large secondary inverted pointed fixed menu">
      <a class="item sin-hover">ESCUELAS FUTBOL</a>
      <div class="right item">
        <a routerLink="/" routerLinkActive='active' [routerLinkActiveOptions] = "{exact: true}" class="item">Contactenos</a>
        <a routerLink="/" class="item">Escuelas</a>
        <a routerLink="/" class="item">Servicios</a>
        <a routerLink="/nosotros" routerLinkActive='active' class="item">Nosotros</a>
        <a routerLink="/" class="item" (click)="open('ejemplo')">Login</a>
      </div>
    </div>
  </div>
</div>
<ng-template #responsivo>

  <div class="ui container" #navMovil>
    <div id="divblack" class="following bar mobile" #divElement>
      <div class="ui large secondary inverted pointed fixed menu">
        <a class="item sin-hover">ESCUELAS FUTBOL</a>
        <div class="right item">
          <a class="item" (click)="collapse = !collapse"><i class="bars icon"></i></a>
        </div>

      </div>
    </div>
  </div>

  <div [suiCollapse]="!collapse" class="following bar nav-mobile">
    <div class="ui segments">
      <a routerLink="/">
        <div class="ui segment drop-nav-items">
          <p>Contactenos</p>
        </div>
      </a>
      <a routerLink="/">
        <div class="ui segment drop-nav-items">
          <p>Escuelas</p>
        </div>
      </a>
      <a routerLink="/">
        <div class="ui segment drop-nav-items">
          <p>Servicios</p>
        </div>
      </a>
      <a routerLink="/nosotros">
        <div class="ui segment drop-nav-items">
          <p>Nosotros</p>
        </div>
      </a>
      <a routerLink="/">
        <div class="ui segment drop-nav-items">
          <p>Login</p>
        </div>
      </a>
    </div>
  </div>
</ng-template>

<!--Modal de Inicio Sesion-->
<ng-template let-context let-modal="modal" #modalTemplate>
  <div class="header">
    <h3 class="ui center aligned header">
      Inciar Sesion
    </h3>
  </div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <div class="ui left icon input">
          <input type="text" name="txtusuario" placeholder="Usuario">
          <i class="user icon"></i>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <input type="text" name="txtclave" placeholder="Contraseña">
          <i class="key icon"></i>
        </div>

      </div>
    </form>
  </div>
  <div class="actions">
    <button class="ui red button" (click)="modal.deny('denied')">Cancelar</button>
    <button class="ui green button" (click)="modal.approve('approved')" autofocus>Iniciar Sesion</button>
  </div>
</ng-template>